<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>MASKERKU</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito%3A500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway%3A600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A500%2C600"/>
  <link rel="stylesheet" href="css/cart.css"/>
</head>
<body>
<div class="ipad-mini-83-1-eBw">
  <div class="auto-group-tejh-Ccm">
    <div class="group-8-6bf">
      <a href="/home">
        <div class="auto-group-p9v7-e7P">
          <img class="arrow-mC1" src="./assets/arrow.png"/>
          <p class="shopping-continue-UcD">Shopping Continue</p>
        </div>
      </a>
    </div>
    <div class="auto-group-y3mx-6tV">
      <div class="auto-group-78ut-onu">
        <p class="shopping-cart-iQ5">Shopping cart</p>
        <p class="you-have-3-item-in-your-cart-QXo">You have 2 item in your cart</p>
      </div>
      <div class="group-12-hG1">
        <div class="group-9-46Z">
          <div class="rectangle-19-xSq">
          </div>
          <div class="auto-group-c6uu-acd">
            <p class="italy-pizza-JYd">Earloop Mask</p>
          </div>
          <p class="item-1-xdB">1</p>
          <img class="group-4-ULd" src="./assets/group-4.png"/>
          <p class="item-681-ns7">Rp. 50.000,-</p>
          <img class="trash-can-ghb" src="./assets/trash-can-jAD.png"/>
        </div>
        <div class="group-10-kxM">
          <div class="rectangle-21-rkV">
          </div>
          <div class="auto-group-r8ah-xoX">
            <p class="combo-plate-5t9">Headloop Mask</p>
          </div>
          <p class="item-1-jxh">1</p>
          <img class="group-5-Xdf" src="./assets/group-5.png"/>
          <p class="item-681-3ru">Rp. 50.000,-</p>
          <img class="trash-can-9Q9" src="./assets/trash-can.png"/>
        </div>
      </div>
    </div>
  </div>
  <div class="group-7-2D3">
    <p class="name-on-card-xMb">Name on card</p>
    <p class="card-type-SnZ">Card type</p>
    <p class="card-details-q41">Card Details</p>
    <input class="auto-group-6asf-jv5" type="text"placeholder="Name"/>
    <div class="auto-group-er7b-job">
      <p class="expiration-date-GHj">Expiration date</p>
      <p class="cvv-b57">CVV</p>
    </div>
    <div class="auto-group-rjnm-ifX">
      <input class="auto-group-yqau-y5f" type="text"placeholder="mm/yy"/>
      <input class="auto-group-6cxf-o4h" type="number"placeholder="123"/>
    </div>
    <p class="card-number-Rrm">Card Number</p>
    <div class="auto-group-c8vh-j6m">
      <p class="subtotal-37T">Subtotal</p>
      <p class="item-1668-y17">$1,668</p>
    </div>
    <div class="auto-group-mg1k-gw7">
      <p class="shipping-cpm">Shipping</p>
      <p class="item-4-MGZ">$4</p>
    </div>
    <div class="auto-group-tnkf-5TT">
      <p class="total-tax-incl-zqK">Total (Tax incl.)</p>
      <p class="item-1672-Jr1">$1,672</p>
    </div>
    <input class="auto-group-avzd-ppM" type="number"placeholder="1111 2222 3333 4444"/>
    <a href="/home">
      <div class="auto-group-btyv-owB">
        <p class="item-1672-UXX">$1,672</p>
        <p class="checkout-n2R">Checkout</p>
        <img class="right-JFf" src="./assets/right.png"/>
      </div>
    </a>
    <div class="auto-group-qnrb-DNd">
        <div class="rectangle-9-YQu"></div>
        <div class="rectangle-10-2qs"></div>
        <div class="rectangle-11-9Qh"></div>
    </div>
    <div class="line-1-UrH">
    </div>
  </div>
</div>
</body>